<!DOCTYPE html>
<html>
<head>
  <title>Url Form</title>
  <style>
   
    
  </style>
</head>
<body>
<div class="form">
    
    <h2>Shorten URL</h2>
    <form [formGroup]="myForm" novalidate>
        <label>Input a Url :</label>
        <input type="text" name="url" formControlName="url" required placeholder="Enter full URL">

        <br><br>
        <button type="submit" [disabled]="!myForm.valid" (click)="shortenUrl()">Submit</button>
        <button type="submit" [disabled]="!myForm.valid" (click)="copy()">Copy URL</button>
        <br>
        The shortened Url is {{ final }}
    </form>
</div>
</body>
</html>

<!-- <app-mortgage-calculator></app-mortgage-calculator> -->